<div class="container-fluid">
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row div-search-bar">
                <a [routerLink]="['/emendas/novo']" class="btn btn-azul-padrao text-white">Adicionar</a>
            </div>

            <!-- col-md-4 offset-md-4 -->
            
            <table class="table table-striped table-bordered table-responsive table-sm">
                <thead>
                    <tr class="center text-header">
                        <th scope="col" class="col-ano">
                            <input type="text" class="form-control form-control-sm" name="ano" [(ngModel)]="filtros.ano" placeholder="Ano" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-emenda">
                            <input type="text" class="form-control form-control-sm" name="num_emenda" [(ngModel)]="filtros.num_emenda" placeholder="Emenda" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-autor">
                            <input type="text" class="form-control form-control-sm" name="autor" [(ngModel)]="filtros.autor" placeholder="Autor" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-partido">
                            <input type="text" class="form-control form-control-sm" name="partido" [(ngModel)]="filtros.partido" placeholder="Partido" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-cargo">
                                <input type="text" class="form-control form-control-sm" name="cargo" [(ngModel)]="filtros.cargo" placeholder="Cargo" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-beneficiario">
                                <input type="text" class="form-control form-control-sm" name="beneficiario" [(ngModel)]="filtros.beneficiario" placeholder="Beneficiário" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-valor">Valor</th>
                        <th scope="col" class="col-status">
                                <input type="text" class="form-control form-control-sm" name="status" [(ngModel)]="filtros.status" placeholder="Status" (ngModelChange)="filtroEmenda(filtros)" autocomplete="off">
                        </th>
                        <th scope="col" class="col-acao">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emenda of emendas" class="text-table">
                        <td>{{emenda.ano}}</td>
                        <td>{{emenda.num_emenda}}</td>
                        <td>{{emenda.autor}}</td>
                        <td>{{emenda.partido}}</td>
                        <td>{{emenda.cargo}}</td>
                        <td>{{emenda.beneficiario}}</td>
                        <td>{{emenda.valor_emenda | currency: 'BRL': 'symbol'}}</td>
                        <td>{{emenda.status}}</td>
                        <td class="center">
                            <a [routerLink]="['/emendas', emenda.cod_emenda, 'detalhe']">
                                <i class="fas fa-search"></i>
                            </a>
                            <a [routerLink]="['/emendas', emenda.cod_emenda]">
                                <i class="fas fa-pencil-alt col-1"></i>
                            </a>
                            <!-- <a href="#">
                                <i class="fas fa-trash-alt col-1"></i>
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>