.col-emenda {
    width: 3%;
}

.col-autor {
    width: 10%;
}

.col-partido {
    width: 4%;
}

.col-cargo {
    width: 10%;
}

.col-beneficiario {
    width: 15%;
}

.col-valor {
    width: 5%;
}

.col-status {
    width: 10%;
}

.search-bar {
    margin-bottom: 1%;
}

.div-search-bar {
    margin-left: 0;
    margin-right: -3.4%;
}