.text-header {
    font-size: 15px;
}

.text-table {
    font-size: 13px;
}

.center {
    text-align: center;
}

.col-ano {
    width: 2%;
}

.col-emenda {
    width: 3%;
}

.col-autor {
    width: 10%;
}

.col-partido {
    width: 4%;
}

.col-cargo {
    width: 10%;
}

.col-beneficiario {
    width: 15%;
}

.col-valor {
    width: 5%;
}

.col-acao {
    width: 5%;
}