<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <div>
        <a class="btn btn-azul-padrao text-white" data-toggle="collapse" href="#collapseEmenda" role="button" aria-expanded="true" aria-controls="collapseExample">
          Emenda Parlamentar
        </a>
      </div>
      
      <!-- class="collapse" -->
      <div id="collapseEmenda">
        <div class="card card-body shadow p-3 mb-3 bg-white rounded">
            
            <!-- Row 1 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">Número da Emenda</label>
                <p>{{emenda?.num_emenda}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Ano</label>
                <p>{{emenda?.ano}}</p>
              </div>
              <div class="form-group col-md-2">
                <label class="negrito">UF</label>
                <p>{{emenda?.uf}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Município</label>
                <p>{{emenda?.nome_municipio}}</p>
              </div>
              
            </div>

            <!-- Row 2 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">Valor</label>
                <p>{{emenda?.valor_emenda | currency: 'BRL': 'symbol'}}</p>
              </div>
              <div class="form-group col-md-5">
                <label class="negrito">Autor</label>
                <p>{{emenda?.autor}}</p>
              </div>
              <div class="form-group col-md-2">
                <label class="negrito">Cargo</label>
                <p>{{emenda?.cargo}}</p>
              </div>
              <div class="form-group col-md-2">
                <label class="negrito">Partido</label>
                <p>{{emenda?.partido}}</p>
              </div>
            </div>

            <!-- Row 3 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">Fonte</label>
                <p>{{emenda?.fonte}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">GND</label>
                <p>{{emenda?.gnd}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Modalidade</label>
                <p>{{emenda?.modalidade}}</p>
              </div>
              <div class="form-group col-md-2">
                <label class="negrito">Localizador</label>
                <p>{{emenda?.localizador}}</p>
              </div>
            </div>

            <!-- Row 4 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">Programa</label>
                <p>{{emenda?.programa_governo}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Ação</label>
                <p>{{emenda?.acao_orcamentaria}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Projeto</label>
                <p>{{emenda?.projeto}}</p>
              </div>
            </div>

            <!-- Row 5 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">CNPJ do Beneficiário</label>
                <p>{{emenda?.cnpj_beneficiario | mask: '00.000.000/0000-00'}}</p>
              </div>
              <div class="form-group col-md-5">
                <label class="negrito">Beneficiário</label>
                <p>{{emenda?.beneficiario}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Status</label>
                <p>{{emenda?.status}}</p>
              </div>
            </div>
          
        </div>
      </div>

      <div>
        <a class="btn btn-azul-padrao text-white" data-toggle="collapse" href="#collapseExecucao" role="button" aria-expanded="false" aria-controls="collapseExample">
          Execução
        </a>
      </div>
      <div class="collapse" id="collapseExecucao">
        <div class="card card-body shadow p-3 mb-3 bg-white rounded">
          
            <!-- Row 1 -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="negrito">Instrumento</label>
                <p>{{emenda?.instrumento}}</p>
              </div>
              <div class="form-group col-md-8">
                <label class="negrito">Objeto</label>
                <p>{{emenda?.objeto}}</p>
              </div>
            </div>

            <!-- Row 2 -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="negrito">Proposta/Siconv</label>
                <p>{{emenda?.proposta_siconv}}</p>
              </div>
              <div class="form-group col-md-6">
                <label class="negrito">Número do Siconv</label>
                <p>{{emenda?.convenio_siconv}}</p>
              </div>
            </div>

            <!-- Row 3 -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="negrito">Limite de Empenho</label>
                <p>{{emenda?.lim_empenho | currency: 'BRL': 'symbol'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Valor empenho</label>
                <p>{{emenda?.empenhado | currency: 'BRL': 'symbol'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Nota de Empenho</label>
                <p>{{emenda?.nota_empenho}}</p>
              </div>
            </div>

            <!-- Row 4 -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="negrito">Valor de repasse</label>
                <p>{{emenda?.valor_repasse | currency: 'BRL': 'symbol'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Valor de Contrapartida</label>
                <p>{{emenda?.valor_contrapartida | currency: 'BRL': 'symbol'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Valor Global</label>
                <p>{{(emenda?.valor_repasse) + (emenda?.valor_contrapartida) | currency: 'BRL': 'symbol'}}</p>
              </div>
            </div>

            <!-- Row 5 -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="negrito">Data do início do Convênio</label>
                <p>{{emenda?.dt_ini_conv | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Data do fim do Convênio</label>
                <p>{{emenda?.dt_fim_conv | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="form-group col-md-4">
                <label class="negrito">Impedimento</label>
                <p>{{emenda?.impedimento}}</p>
              </div>
            </div>

            <!-- Row 6 -->
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="negrito">Observação</label>
                <p>{{emenda?.obs}}</p>
              </div>
            </div>

            <!-- Row 7 -->
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="negrito">Pendência</label>
                <p>{{emenda?.pendencia}}</p>
              </div>
            </div>
        </div>
      </div>

      <div>
        <a class="btn btn-azul-padrao text-white" data-toggle="collapse" href="#collapseAlarme" role="button" aria-expanded="false" aria-controls="collapseExample">
          Alarmes e Adicionais
        </a>
      </div>
      <div class="collapse" id="collapseAlarme">
        <div class="card card-body shadow p-3 mb-3 bg-white rounded">
          
            <!-- Row 1 -->
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="negrito">Legislacao</label>
                <p>{{emenda?.legislacao}}</p>
              </div>
            </div>

            <!-- Row 2 -->
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="negrito">Descrição</label>
                <p>{{emenda?.descricaoLegislacao}}</p>
              </div>
            </div>

            <!-- Row 3 -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="negrito">Indicação do Beneficiário</label>
                <p>{{emenda?.dt_indicacao_beneficiario | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Apresentação de proposta</label>
                <p>{{emenda?.dt_cadastramento_proposta | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Análise de proposta</label>
                <p>{{emenda?.dt_analise_proposta | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="form-group col-md-3">
                <label class="negrito">Celebração do Convênio</label>
                <p>{{emenda?.dt_celebracao_convenio | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>