/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f5f5;
}

.bg-azul-padrao {
    background-color: #01579b;
}

.btn-azul-padrao {
    /* margin-top: 0.5%; */
    margin-bottom: 1%; 
    color: #fff;
    background-color: #01579b;
    border-color: #01579b;
}

label {
    font-size: 13px;
}

p {
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 0;
}

.negrito {
    font-weight: bold;
}

.text-header {
    font-size: 15px;
}

.text-table {
    font-size: 13px;
}

.center {
    text-align: center;
}

.col-ano {
    width: 2%;
}

.col-acao {
    width: 5%;
}
